*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gridcontainer{
    border: 2px solid red;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 250px;
    /* /* grid-template-columns: repeat(6,1fr); */
}
.card:nth-child(1){
background-color: blue;
padding: 5px 15px;
grid-column: 1/3;
}
.card:nth-child(2){
    background-color: brown;
    padding: 5px 15px;
}
.card:nth-child(3){
    background-color: green;
    padding: 5px 15px;
}
.card:nth-child(4){
    background-color: midnightblue;
    padding: 5px 15px;
}
.card:nth-child(5){
    background-color: orange;
    padding: 5px 15px;
}
.card:nth-child(6){
    background-color: grey;
    padding: 5px 15px;
    grid-column: 1/4;
}
/* align-items is :vertical
justify-content is :horizontal */
.flexcontainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flexCard:nth-child(1){
    color: purple;
}
.flexCard:nth-child(2){
    background-color: yellow;
}
/* background image styling */
.backgroundimage{
    background-image: url(./Asset/IMG-20251004-WA0181.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    
}
