* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
  background-color: white;
}

/* header styles */
.heading {
  width: 100%;
  max-width:2000px;
  margin: 0 auto;
}
/* .header{
  position: fixed;
  width: 100%;
  max-width: 2000px;
} */

.abc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo-img {
  width: 150px;
}

/* nav styles */
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

li {
  font-family: sans-serif;
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

#currency {
  color: #8bc350;
}

/* hero styling */
.hero-section {
  margin-top: 5rem;
}

.heroimg img {
  width: 800px;
}

.hero-container {
  /* justify-content: space-between; */
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: center;
}

#leaf-img img {
  padding: 1rem 0;
}

.herocontent h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
  line-height: 1.2;
  font-weight: 600;
}

.herocontent p {
  line-height: 1.3;
  color: rgb(34, 3, 3);
}
.herocontent h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero-btn button {
  background-color: #8bc350;
  outline: 0;
  border: 0;
  padding: 10px 10px;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn button:hover {
  background-color: #0e1a02d5;
  color: white;
  border-radius: 25px;
}
/* section styling */
.coffeshop-section {
  background-color: black;
  color: white;
  padding: 2rem 0;
}
.coffeshop-section :hover {
  background-color: #1b1313;
}
.shop {
  background-color: #303030;
  padding: 15px 25px;
  border-radius: 4px;
  width: 280px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.shop :hover {
  background-color: #1b1313;
}
.coffe {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
#icon {
  color: #8bc350;
}
.one {
  font-family: "Times New Roman", Times, serif;
}
/* .center{
    border: 2px solid red;
    align-items: center;
} */
/* Selling product styling */
.productcontainer {
  /* border: 2px solid red; */
  display: flex;
  gap: 5px;
  justify-content: space-around;
}
.center h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
.center img {
  display: block;
  margin: 20px auto;
  width: 7%;
}
.productcase{
  /* border: 2px solid blue; */
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
.price{
  text-align: center;
}